body{
    background-color: wheat;
    color: #242024;
}

.bg{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todobg{
    background-color: #242024;
    color: white;
}

.readbg{
    background-color: #bf0000;
    color: white;
}

.link{
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.link:hover{
    color: gray;
    text-decoration: underline;
}

.todolink{
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.todolink:hover{
    color: gray;
    text-decoration: underline;
}
